body {
    font-family: 'Century Gothic', sans-serif;
    background-color: #d3ffbe;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#inf_rec {
    text-align: center;
    color: #1b5632;
    font-size: 4.5rem;
    padding-top: 10px;
}

.indicador_progreso {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

td {
    padding: 15px;
    text-align: center;
}

.punto {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.rojo {
    background-color: red;
}

.gris {
    background-color: grey;
}

.container_infr {
    display: flex;
    justify-content: space-between;
    align-items: stretch; 
    width: 90%;
    max-width: 2000px; 
    margin: 0 auto; 
    box-sizing: border-box;
    background-color: #b2f0a1;
    padding: 20px;
    border-radius: 10px;
    gap: 20px; 
}


#form_infr {
    background-color: #b2f0a1;
    margin-bottom: 0;
}

.formulario_infr {
    width: 50%; 
    padding: 20px;
    text-align: center;
}

.formulario_infr label {
    text-align: left;
    padding-left: 11%;
}


.formulario_infr h2 {
    text-align: center;
    color: #1b5632;
    font-size: 2.2rem;
}

.formulario_infr label {
    display: block;
    margin: 15px 0 5px;
    font-family: 'Century Gothic', sans-serif;
    font-size: 22px;
}

.formulario_infr input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box; 
    font-size: 20px;
}

.boton_ir_a_pagar {
    display: block;
    align-items: center;
    width: 50%;
    padding: 15px;
    text-align: center;
    background-color: #3b9c63;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 20px; 
}

.boton_ir_a_pagar:hover{
    background-color: #358d5a;
    transition-duration: 1s;
}

.boton:hover {
    background-color: #368652;
}

#contenedor_carrito_infr {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    width: 50%; 
    padding: 20px;
    background-color: #b2f0a1;
    border-radius: 10px;
}

.carrito_infr h2 {
    text-align: center;
    color: #1b5632;
    font-size: 30px;
}

.carrito_infr {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border: 2px dashed #ccc;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 300px;
    margin-right: 10%;
}